<ion-header>
  <ion-toolbar>
    <ion-title>ASL To Text</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveData()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-list style="text-align:center">

  <img src="{{imgURL}}" height="200" width="200" class="center"/>
  <br>
  <ion-button (click)="getCamera()" > From Camera </ion-button>
  <br>
  <ion-button (click)="getGallery()" > From Gallery</ion-button>
  <br>
  <ion-label>{{dataFromService}}</ion-label>
  </ion-list>
</div>
</ion-content>
